{% extends 'base.html.twig' %}

{% block title %}- A Propos{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">A Propos</h1>
        <p class="lead">Pourquoi Eve Quantum?</p>
        <hr class="my-4">
        <p>
            Eve Quantum est né de la volonté d'avoir des informations récente sur le jeu, en mettant l'accent sur l'expérience des joueurs. <br>
            Eve Online est un jeu complet et complexe, sortie en Mai 2003, dans lequel il n'est pas toujours facile d'obtenir des réponses à ses questions. Les nouveaux joueurs se retrouve souvent confrontés à la réponse universelle et pourtant pleine de sens dans un jeu tel que celui-ci : "Ca dépend" .<br>
            De plus, le jeu a fêté ses 17 ans en 2020 et les informations que l'on peut trouver dispersées sur le web ne sont pas toujours à jour. <br>
            Dans cet espace, les joueurs pourront prendre le temps de répondre aux questions en gardant une trace de leur intervention, celle-ci pouvant servir à d'autres. <br>
        </p>

        <p class="lead">Qui es-tu?</p>
        <hr class="my-4">
        <p>
            Dans Eve, je m'appel Krawks et je joue depuis 2006. <br>
            J'ai beaucoup joué entre 2006 et 2012, mais depuis, j'ai fait beaucoup d'aller-retour sur le jeu et c'est une des raisons qui m'a motivé à développer Eve Quantum: Avoir des informations récente à propos du jeu.
        </p>
    </div>

{% endblock %}
